.container {
  background-color:  #212121; /* Set a dark background color for the whole page */
}

.navbar {
  transition: width 0.3s;
  
}
body {
  background-color: black;
}
.card {
  background-color: #333; /* Set a dark color for the cards */
  color: #fff; /* Set a light color for the text in the cards */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow to the cards */
}

.show-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-top: 1rem;
}

.movie-icon {
  margin-right: 0.5rem;
}

h1 {
  margin-right: 0.5rem;
  text-decoration: underline;
  text-align: center
}